$checkbox-checked-border-colour:  darkred;
$checkbox-border-width:           2px;

@import 'node_modules/dlg-angular-components/dist/dlg-walrus/lib/checkbox/checkbox.component';

.dlg-checkbox {
  input:checked + label:before {
    border-color: $checkbox-checked-border-colour;
  }
}
