$field-label-colour:            black;
$field-error-colour:            darkred;
$field-link-colour:             blue;

@import 'node_modules/dlg-angular-components/dist/dlg-walrus/lib/field/field.component';

.dlg-field {
  &__error.item-list {
    height: 5rem;
  }
}