.dlg-textarea {
  width: 100%;
  max-width: calc(100% - 20px);
  height: 8rem;
  border: 3px solid lightgrey;
  border-radius: 2px;
  font-family: inherit;
  font-size: 18px;
  padding: 16px;
  resize: none;

  @include hg-mq('med') {
    max-width: 100%;
  }
}
