<div class="fnol-form__section">
  <h2 class="fnol-form__subtitle">Confirmation</h2>

  <dlg-field [config]="formData.callbackSlot" [formGroup]="form">
    <dlg-radio></dlg-radio>
  </dlg-field>

  <dlg-field [config]="formData.convictions" [formGroup]="form">
    <dlg-radio></dlg-radio>
  </dlg-field>

  <dlg-field [config]="formData.awareExcess" [formGroup]="form">
    <dlg-checkboxes></dlg-checkboxes>
  </dlg-field>

  <dlg-field [config]="formData.termsConditions" [formGroup]="form">
    <dlg-checkboxes></dlg-checkboxes>
  </dlg-field>
</div>