<img src="../../assets/images/logo.png" alt="Direct Line" class="progress__logo">
<div class="progress__steps">
  <div class="progress__step progress__step1 progress__active-step">
    <img src="../../assets/images/personal.png" alt="Personal Details" class="progress__step-image">
  </div>
  <div class="progress__step progress__step2">
    <img src="../../assets/images/what.png" alt="What happened" class="progress__step-image">
  </div>
  <div class="progress__step progress__step3">
    <img src="../../assets/images/details.png" alt="Claim details" class="progress__step-image">
  </div>
  <div class="progress__step progress__step4">
    <img src="../../assets/images/confirm.png" alt="Confirmation" class="progress__step-image">
  </div>
</div>