.fnol-form {
  &__section {
    border-left: 8px solid lightgrey; 
    padding-left: 12px;
    margin-bottom: 40px;
    border-image: 
      linear-gradient(
        to bottom, 
        lightgrey, 
        $body-bg-colour
      ) 1 100%;
  }

  &__title {
    font-size: 2rem;
    padding-bottom: 12px;
    color: darkred;
  }

  &__subtitle {
    font-size: 1.5rem;
    padding-bottom: 12px;
    color: darkred;
  }

  &__emergency {
    font-weight: bold;
    margin-bottom: 20px;
  }

  .dlg-field.last-field {
    padding-bottom: 0;
  }
}