$body-bg-colour:                #F4F4F4 !default;
$body-colour:                   #1D1D1D !default;
$body-font-family:              MuseoSans !default;

@font-face {
  font-family: MuseoSans;
  src: url(../fonts/museo-sans/300.woff);
}
@font-face {
  font-family: MuseoSans;
  src: url(../fonts/museo-sans/700.woff);
  font-weight: bold;
}

body {
    background-color: $body-bg-colour;
    color: $body-colour;
    font-family: $body-font-family;
}