$input-border-colour:       lightgrey;
$input-border-width:        3px;
$input-placeholder-colour:  lightgrey;

@import 'node_modules/dlg-angular-components/dist/dlg-walrus/lib/input/input.component';

.dlg-input input {
  max-width: calc(100% - 20px);
  margin: 0;

  @include hg-mq('med') {
    max-width: 100%;
  }
}

.dlg-field {
  &__label {
    font-weight: bold;
  }
}

#fileUploads {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
}

.fnol-form__uploads {
  padding-bottom: 20px;

  .dlg-hint__text {
    display: none;
  }
} 

label[for=fileUploads] {
  border: 1px solid $input-border-colour;
  border-radius: 2px;
  width: inherit;
  display: inline-block;
  padding: 0 24px;
  line-height: $input-height;
  background-color: white;
  
  &:hover {
    cursor: pointer;
  }
}

@include hg-focus {
  border-bottom: solid 3px darkred;
}
