$radio-border-width:              3px;
$radio-border-style:              solid;
$radio-border-colour:             lightgrey;
$radio-checkbox-active-bg-colour: darkred;
$radio-checkbox-active-colour:    white;

@import 'node_modules/dlg-angular-components/dist/dlg-walrus/lib/radio/radio.component';

.dlg-radio {
  label {
    background-color: white;
  }
  input:checked + label {
    background-color: $radio-checkbox-active-bg-colour;
    color: $radio-checkbox-active-colour;
    border-color: transparent;
  }
}
