<div class="progress">
  <app-progress-bar></app-progress-bar>
</div>
<div class="fnol-form__section">
  <h2 class="fnol-form__title">Your Claim</h2>
  <p>To make a claim, simply fill in <a [routerLink]="['make-a-claim']">this online form</a>. After you’ve made your claim, you can <a [routerLink]="['claim-status']">check its status here</a>. We might call you back for more details or to arrange a visit from an assessor.</p>
  <button dlg-button [routerLink]="['make-a-claim']">Make a claim</button>&nbsp;
  <button dlg-button [routerLink]="['claim-status']">Claim status</button>
  <p>You will have the option to upload files or images to support your claim. Please have these saved on your computer or device.</p>
</div>
