<div class="progress">
  <app-progress-bar [claimsCounts]="claimsCounts"></app-progress-bar>
</div>

<div class="fnol-form__section">
  <h2 class="fnol-form__title">Your claim status</h2>

  <p>If you're looking to make a claim you can <a [routerLink]="['/make-a-claim']">make a claim here</a>.</p>

  <dlg-field [config]="formData.emailAddress" [formGroup]="form">
    <dlg-input></dlg-input>
  </dlg-field>

  <button dlg-button (click)="findClaims()" [disabled]="!validEmail()">Find my claims</button>
</div>

<ng-container *ngIf="claimsFound()">
  <p>Your claim history is listed below, most recent first</p>
  
  <table class="fnol-form__item-table zebra">
    <tr>
      <th class="fnol-form__list-heading">Policy number</th>
      <th class="fnol-form__list-heading">Claim description</th>
      <th class="fnol-form__list-heading">Current status</th>
    </tr>
    <tr *ngFor="let claim of claims">
      <td class="fnol-form__list-item">{{ claim.policyNumber }}</td>
      <td class="fnol-form__list-item">{{ claim.whatHappened | slice:0:20 }}...</td>
      <td class="fnol-form__list-item bold" *ngIf="claim.status">{{ claim.status }}</td>
      <td class="fnol-form__list-item bold" *ngIf="!claim.status">Logged</td>
    </tr>
  </table>
</ng-container>

<ng-container *ngIf="!claimsExist">
  <p>We haven't found any claims for email address <span class="bold">{{ form.get('emailAddress').value }}</span>. You might have used a different email address when you made the claim. If you haven't made a claim yet, please <a [routerLink]="['/make-a-claim']">make a claim here</a> or contact us</p>
</ng-container>